.blog {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 100px 0px 60px;
  &__wrapper {
    p {
      color: rgb(69, 69, 69);
      font-family: Manrope;
      font-size: 64px;
      font-weight: 700;
      line-height: 110%;
      letter-spacing: 0%;
    }
  }
}
