.notfound {
  padding: 50px 0px 100px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    p {
      width: 100%;
      max-width: 801px;
      color: rgb(69, 69, 69);
      font-family: Manrope;
      text-align: center;
      font-size: 100px;
      font-weight: 700;
      line-height: 110%;
      letter-spacing: 0%;
      opacity: 0.1;
      @media only screen and (min-width: 660px) {
        font-size: 150px;
      }
      @media only screen and (min-width: 1000px) {
        font-size: 427px;
      }
    }
    .notfound__text__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px;
      span {
        color: rgb(69, 69, 69);
        font-family: Manrope;
        font-size: 24px;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 0%;
      }
      button {
        width: 100%;
        max-width: 216px;
        height: 50px;
        border: none;
        border-radius: 100px;
        color: rgb(255, 255, 255);
        font-family: Manrope;
        font-size: 16px;
        font-weight: 600;
        line-height: -1px;
        letter-spacing: 0%;
        background-color: rgb(69, 69, 69);
      }
    }
  }
}
