.brend {
  padding-bottom: 50px;
  @media only screen and (min-width: 650px) {
    padding-bottom: 100px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    @media only screen and (min-width: 650px) {
      gap: 72px;
    }
    .brend__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        color: rgb(69, 69, 69);
        font-family: Manrope;
        font-size: 28px;
        font-weight: 700;
        line-height: -1px;
        letter-spacing: 0%;
        @media only screen and (min-width: 700px) {
          font-size: 40px;
        }
      }
      .navigate__wrapper {
        display: none;
        align-items: center;
        gap: 10px;
        @media only screen and (min-width: 660px) {
          display: flex;
        }
        svg {
          width: 39px;
          height: 26px;
          border-radius: 50px;
          color: rgb(69, 69, 69);
          border: 1px solid rgb(0, 0, 0);
          font-size: 20px;
        }
      }
    }
    .brend__swiper {
      .mySwiper {
        .swiper__slide {
          width: 100%;
          max-width: 310px;
          height: 112px;
          border: 1px solid rgb(217, 217, 217);
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
            max-width: 250px;
            height: 80px;
            object-fit: contain;
          }
        }
      }
    }
  }
}
#brend__swiper__two {
  display: none;
  @media only screen and (min-width: 400px) {
    display: flex;
  }
  @media only screen and (min-width: 780px) {
    display: none;
  }
}
#brend__swiper__one {
  @media only screen and (min-width: 400px) {
    display: none;
  }
}
#brend__swiper__three {
  display: none;
  @media only screen and (min-width: 780px) {
    display: flex;
  }
  @media only screen and (min-width: 1000px) {
    display: none;
  }
}
#brend__swiper__four {
  display: none;
  @media only screen and (min-width: 1000px) {
    display: flex;
  }
}
