.hero {
  padding: 50px 0px 102px;
}

.myswiper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  background: #f2f2f2;

  border-radius: 50px;
  .hero__slide {
    .slide__wrapper {
      display: flex;
      justify-content: space-between;
    }
    &__left {
      padding: 52px 0px 96px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1 {
        width: 100%;
        max-width: 570px;
        font-family: Manrope;
        font-size: 55px;
        font-weight: 700;
        line-height: -1px;
        letter-spacing: 0%;
        color: rgb(69, 69, 69);
      }
      button {
        color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 400px;
        height: 75px;
        border-radius: 100px;
        font-family: Manrope;
        font-size: 45px;
        font-weight: 700;
        line-height: -1px;
        letter-spacing: 0%;
        background-color: rgb(69, 69, 69);
        border: none;
        outline: none;
      }
    }
    img {
      width: 100%;
      max-width: 453px;
      height: 453px;
      object-fit: contain;
    }
  }
}

.swiper-pagination {
  padding: 0px 30px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.swiper-pagination-bullet-active {
  background-color: #636161;
}
