.story {
  padding: 100px 0px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    @media only screen and (min-width: 660px) {
      flex-direction: row;
      gap: 0;
    }
    p {
      color: rgb(69, 69, 69);
      font-family: Manrope;
      font-size: 28px;
      font-weight: 700;
      line-height: -1px;
      letter-spacing: 0%;
      width: 100%;
      max-width: 330px;
      @media only screen and (min-width: 700px) {
        font-size: 40px;
      }
    }
    .story__wrapper__right {
      width: 100%;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      span {
        color: rgb(69, 69, 69);
        font-family: Manrope;
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0%;
        @media only screen and (min-width: 660px) {
          font-size: 18px;
        }
      }
    }
  }
}
