.norlight {
  padding: 50px 0px 81px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 45px;
    .norlight__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        font-family: Manrope;
        font-weight: 700;
        font-size: 40px;
        line-height: 54.64px;
        color: #454545;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        max-width: 220px;
        height: 50px;
        border: 1px solid rgb(69, 69, 69);
        border-radius: 100px;
        color: rgb(69, 69, 69);
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;
        line-height: -1px;
        letter-spacing: 0%;
        background-color: transparent;
        svg {
          color: rgb(69, 69, 69);
          font-size: 15px;
        }
      }
    }
    .norlight__cards {
      display: grid;
      gap: 15px;
      grid-template-columns: repeat(4, 1fr);
      .norlight__card {
        width: 100%;
        max-width: 310px;
        padding: 40px 26px 47px 40px;
        display: flex;
        flex-direction: column;
        gap: 70px;
        border: 1px solid rgb(217, 217, 217);
        &__img__wrapper {
          width: 70px;
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #454545;
          border-radius: 10px;
          img {
            width: 50px;
            height: 50px;
            object-fit: contain;
          }
        }
        &__content {
          display: flex;
          flex-direction: column;
          gap: 20px;
          p {
            width: 100%;
            max-width: 214px;
            height: 52px;
            color: rgb(69, 69, 69);
            font-family: Manrope;
            font-size: 20px;
            font-weight: 700;
            line-height: 130%;
            letter-spacing: 0%;
          }
          span {
            width: 100%;
            max-width: 214px;
            height: 42px;
            opacity: 0.5;
            color: rgb(69, 69, 69);
            font-family: Manrope;
            font-size: 16px;
            font-weight: 400;
            line-height: 130%;
            letter-spacing: 0%;
          }
        }
      }
    }
  }
}
