.footer {
  padding: 79px 0px;
  background: #f2f2f2;
  &__wrapper {
    display: flex;
    flex-direction: column;
    // gap: 130px;
    gap: 20px;
    @media only screen and (min-width: 1100px) {
      flex-direction: row;
      gap: 50px;
    }
    @media only screen and (min-width: 1200px) {
      gap: 130px;
    }
    &__left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media only screen and (min-width: 640px) {
        flex-direction: row;
        gap: 146px;
      }
      .footer__left__left {
        display: flex;
        flex-direction: column;
        gap: 24px;
        @media only screen and (min-width: 550px) {
          gap: 50px;
        }
        .footer__left__title__wrapper {
          display: flex;
          align-items: center;
          gap: 7px;
          svg {
            width: 24px;
            height: 24px;
            background-color: rgb(69, 69, 69);
            color: #fff;
            border-radius: 3px;
            padding: 5px;
            @media only screen and (min-width: 550px) {
              width: 36px;
              height: 36px;
            }
          }
          p {
            color: rgb(69, 69, 69);
            font-family: Inter;
            font-size: 20px;
            font-weight: 400;
            line-height: 48px;
            letter-spacing: 0%;
            @media only screen and (min-width: 550px) {
              font-size: 40px;
            }
          }
        }
        .footer__left__left__content {
          display: flex;
          flex-direction: column;
          gap: 35px;
          span {
            color: rgb(69, 69, 69);
            font-family: Manrope;
            // font-size: 24px;
            font-size: 22px;
            font-weight: 600;
            line-height: -1px;
            letter-spacing: 0%;
          }
          img {
            width: 100%;
            max-width: 222px;
            height: 39px;
            object-fit: contain;
          }
          a {
            opacity: 0.5;
            color: rgb(69, 69, 69);
            font-family: Manrope;
            font-size: 16px;
            font-weight: 600;
            line-height: -1px;
            letter-spacing: 0%;
            text-align: left;
            text-decoration-line: underline;
          }
          .footer__left__images {
            display: flex;
            align-items: center;
            gap: 12px;
            img {
              width: 36px;
              height: 36px;
              object-fit: contain;
            }
          }
        }
      }
      .footer__left__right {
        display: flex;
        flex-direction: column;
        gap: 32px;
        p {
          color: rgb(69, 69, 69);
          font-family: Manrope;
          font-size: 24px;
          font-weight: 700;
          line-height: -1px;
          letter-spacing: 0%;
        }
        &__list {
          display: flex;
          flex-direction: column;
          gap: 27px;
          li {
            a {
              color: rgb(69, 69, 69);
              font-family: Manrope;
              font-size: 16px;
              font-weight: 600;
              line-height: -1px;
              letter-spacing: 0%;
              opacity: 0.5;
            }
          }
        }
      }
    }
    &__right {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media only screen and (min-width: 640px) {
        flex-direction: row;
        gap: 62px;
      }
      .footer__right__left {
        display: flex;
        flex-direction: column;
        gap: 32px;
        p {
          color: rgb(69, 69, 69);
          font-family: Manrope;
          font-size: 24px;
          font-weight: 700;
          line-height: -1px;
          letter-spacing: 0%;
        }
        .footer__right__left__list {
          display: flex;
          flex-direction: column;
          gap: 27px;
          li {
            a {
              opacity: 0.5;
              color: rgb(69, 69, 69);
              font-family: Manrope;
              font-size: 16px;
              font-weight: 600;
              line-height: -1px;
              letter-spacing: 0%;
            }
          }
        }
        .footer__right {
          padding-top: 35px;
        }
      }
    }
  }
}
